

    $main-color: #ebd4bf;
    $background: #000;
    $color-white: #fff;
    $dark-text: #333;
    $background-1: linear-gradient(#5a4d41, #3f352c);;
    $background-2: linear-gradient(#3f352c, #5a4d41);
    $desc-color: #eae6eb;
    $box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  